.flex {
  display: flex;
  width: 1400px;
  margin: 0 auto;
}
.left {
  margin-right: 30px;
}
.right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn {
  width: 120px;
  margin-bottom: 10px;
}

.img-good {
  width: 120px;
}

.card {
  width: 500px;
}